# Laravel specific ignores
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor

# Environment files
.env
.env.backup
.env.production

# PHPUnit caches
.phpunit.result.cache
.phpunit.cache

# Laravel Homestead
Homestead.json
Homestead.yaml

# Node dependencies
/node_modules
/npm-debug.log*
/yarn-error.log*

# PHP / Composer related files
/phpactor.json
/auth.json

# IDE and editor specific ignores
/.idea
/.vscode
/.fleet
/.zed

# System specific files
.DS_Store       # macOS
Thumbs.db       # Windows

# Log and temporary files
*.log
*.tmp

# Swap files
*.swp

# Git related
*.lock

# Custom directories and files to ignore
.idx
.idx/.data
